Debug
Release
Nhiredis.5.1.ReSharper.user
Nhiredis.ncb
Nhiredis.suo
Nhiredis/Nhiredis.csproj.user
Nhiredis/obj
_ReSharper.Nhiredis
Nhiredis_Test/Nhiredis_Test.csproj.user
hiredisx/hiredisx.o
hiredisx/Release
hiredisx/hiredisx.vcproj.asus.Matt.user
Nhiredis_Examples/Nhiredis_Examples.csproj.user
Nhiredis_Examples/bin/Release
Nhiredis_Examples/bin/Debug/*.pdb
Nhiredis_Examples/bin/Debug/*.vshost.exe
Nhiredis_Examples/obj
Nhiredis_Benchmark/bin/Debug
Nhiredis_Benchmark/bin/Release/*.pdb
Nhiredis_Benchmark/bin/Release/*.vshost.exe
Nhiredis_Benchmark/obj
Nhiredis_Benchmark/Nhiredis_Benchmark.csproj.user
Nhiredis/bin/Release/Nhiredis.pdb
Backup
Nhiredis.sdf
Nhiredis.v11.suo
UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files/
hiredisx/hiredisx.vcxproj.filters
