Debug
Nhiredis.5.1.ReSharper.user
Nhiredis.ncb
Nhiredis.suo
Nhiredis/Nhiredis.csproj.user
Nhiredis/obj
_ReSharper.Nhiredis
hiredis_wrapper_win32/Debug
hiredis_wrapper_win32/hiredis_wrapper_win32.vcproj.asus.Matt.user
Nhiredis_Test/Nhiredis_Test.csproj.user
hiredisx/hiredisx.o
hiredisx/Release
hiredisx/hiredisx.vcproj.asus.Matt.user
Nhiredis_Examples/Nhiredis_Examples.csproj.user
Nhiredis_Benchmark/bin
Nhiredis_Benchmark/obj
Nhiredis_Benchmark/Nhiredis_Benchmark.csproj.user


