Debug
Nhiredis.5.1.ReSharper.user
Nhiredis.ncb
Nhiredis.suo
Nhiredis/Nhiredis.csproj.user
Nhiredis/bin
Nhiredis/obj
_ReSharper.Nhiredis
hiredis_wrapper_win32/Debug
hiredis_wrapper_win32/hiredis_wrapper_win32.vcproj.asus.Matt.user
Nhiredis_Test/Nhiredis_Test.csproj.user
